.startMent + p.animeMent {
  transform: translateX(0);
  opacity: 1;
}
.startMent.animeStartMent {
  transform: translateY(0);
  opacity: 1;
}

.ment_2.ment_2Anime {
  opacity: 1;
  transform: translateX(0);
}

.ment_2 + p.animeMent {
  opacity: 1;
  transform: translateX(0) rotateY(0deg);
}

.ment_3.ment_3Anime {
  opacity: 1;
  transform: translateY(0);
}

.ment_3 + p.animeMent {
  opacity: 1;
  transform: translateY(0);
}
