@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

svg {
  fill: #ffffff;
}

body::-webkit-scrollbar {
  background: #fff;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #7ed7c1;
  border-radius: 50px;
}

@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  word-wrap: break-word;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 30px 10px;
  position: absolute;
  z-index: 4;
}

.mentBox:nth-child(3) {
  overflow: hidden;
}

.custom-shape-divider-top-1700529523 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1700529523 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1700529523 .shape-fill {
  fill: #ffffff;
}

.mentBox {
  overflow: hidden;
}

.mentBox:nth-of-type(1) {
  background: #5272f2;
}

.mentBox:nth-of-type(2) {
  background: #6f52f2;
}
.mentBox:nth-of-type(3) {
  background: #fea279;
}

.showMents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ment {
  transition: 1s;
  font-size: 2em;
  padding: 30px;
  font-family: "JalnanGothic";
  word-spacing: 10px;
  letter-spacing: 6px;
  line-height: 45px;
  color: #fff;
  opacity: 0;
}

.startMent {
  font-size: 2.5em;
  transform: rotate(-30deg) translateX(-300px) translateY(300px);
}

.ment + p {
  opacity: 0;
  font-size: 1.5em;
  font-family: "Cafe24Supermagic-Bold-v1.0";
  word-spacing: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  transition: 1s;
}

.ment_1 + p {
  transform: rotate(30deg) translateY(-300px) translateX(300px);
}

.ment_2 {
  transform: translateY(80px);
}

.ment_2 + p {
  transform: translateY(-80px);
}

.animeMent {
  padding: 0 20px;
}
